<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>


<% if current_user != nil and current_user.authorized?(:data_entry) %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
